@{
    ViewBag.Title = "Home voor Appel Ei";
}

<div class="row">
    <div class="col-md-6">
        <input type="text" value="groepnaam" />
        <button type="submit">Submit</button><br /><br />
    </div>
    <div class="col-md-6">
        <p>Deel 2 van de site</p>
    </div>
</div>